.entry h2{
    text-align: center;
    margin-bottom: 2px;
}
.saveBtn{
    justify-content: space-between;
    align-items: center;
    
}
.saveBtn button{
    justify-content: center;
    color: aqua;
}
.entryBtn{
    color: aqua !important;
}

.column{
    float: left;
    width: 50%;
}
.innercolumn{
margin-top: 100px;
padding-left: 100px;
padding-right: 100px;
}
.column1{
float: right;
width: 50%;
}
/* .dtsize{
    width: 100px;
    color: red;
} */